#zewnetrzny {
  position:relative;
  width: 400px;
  height: 400px;
  background-color: green;
}

#wewn1 {
  position: absolute;
  left: 200px;
  
  width: 200px;
  height: 200px;
  background-color: blue;
}

#wewn2 {
  position: absolute;
  top: 200px;
  
  width: 200px;
  height: 200px;
  background-color: red;
}
